/*============================================
  Tablet Layout 
==============================================*/
@media only screen and (min-width: 200px) and (max-width:991px) {

    .social_area {
        width: 39%;
    }

    .mini_menu {
        width: 60%;
    }

    .inner_menu {
        background: none;
        min-height: auto;
    }

    .mean-container .mean-nav {
        width: 90%;
        margin-top: 0;
    }

    .mean-container .mean-nav ul li a.mean-expand {
        height: 26px;
    }

    .slider_caption h2 {
        font-size: 15px;
    }

    .slider_caption p {
        font-size: 11px;
        line-height: 1.3em;
        margin-top: 0;
    }

    #service_area {
        padding: 20px 0;
    }

    .service .service_text h3 {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .service .service_text p {
        font-size: 12px;
    }

    .service .service_imgae {
        padding-right: 2%;
    }

    .service .service_text {
        width: 72%;
        padding-left: 2%;
    }

    .child_team h1 {
        font-size: 29px;
    }

    .child_work h3 {
        font-size: 15px;
    }


    .child_fooer p {
        line-height: 1.5em;
    }

    .child_inner .footer_text h6 a {
        font-size: 9px;
    }

    .child_fooer ul li a {
        font-size: 13px;
    }
}

/*============================================
  Mobile Layout 
==============================================*/
@media only screen and (min-width: 200px) and (max-width:480px) {

    .social_area {
        width: 100%;
        padding-bottom: 15px;
    }

    .social_area ul {
        text-align: center;
    }

    .mini_menu {
        float: none;
        width: 100%;
    }

    .mini_menu ul {
        text-align: center;
    }

    .logo_area {
        float: none;
        padding: 20px 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .social_icon {
        display: none;

    }

    .right_header_area {
        float: none;
    }

    .search_area {
        float: none;
        width: 75%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .bx-wrapper {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .slider_caption {
        display: none;
    }

    .child_service {
        width: 98%;
    }

    .service .service_imgae,
    .child_inner .footer_image {
        width: 14%;
    }

    .service .service_text,
    .child_inner .footer_text {
        width: 82%;
    }

    .child_service h4 {
        margin-top: 10px;
    }

    .service .service_text ul {
        margin-top: 13px;
    }

    .child_work,
    .child_team {
        width: 96%;
        text-align: center;
        margin: 0 1% 25px;
    }

    .child_work a,
    .child_team a {
        color: #fff;
        display: inline-block;
        background: #81b300;
        padding: 10px 25px;
    }

    .child_team h1 {
        font-size: 42px;
    }

    .child_team h4 a {
        background: none;
        padding: 0;
    }

    .child_fooer {
        width: 96%;
    }

    .inner_copyright {
        padding: 0;
        line-height: 1em;
    }

    .left_copyright {
        width: 100%;
    }

    .right_copyright {
        float: left;
        width: 100%;
        text-align: left;
    }




















}
